.MainContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgb(5, 67, 75);
  flex-direction: column;
  justify-content: space-evenly;
}

.container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputField {
  width: 60%;
  height: 50px;
  margin: 20px;
  border-radius: 5px;
  font-size: large;
  border-radius: 40px;
  padding-left: 20px;
}

.cityName {
  display: flex;
  justify-content: center;
}

.temp {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.variation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.environment {
  display: flex;
  justify-content: center;
}

.lastContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: aqua;
  height: 30%;
  /* width: 40%; */
  border-radius: 30px;
}
